@font-face {
    font-family: "Average";
    src: url("../fonts/average.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jetbrains";
    src: url("../fonts/jetbrainsmono.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FiraCode";
    src: url("../fonts/firacode.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gabarito";
    src: url("../fonts/gabarito.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* TODAS LAS PÁGINAS */
/* TAMAÑOS POR DEFECTO (MÓVIL) */
html,
body {
    font-family: "Average", serif !important;
    font-size: 10pt;
}

h1 {
    font-size: 1.8rem !important;
}
h2 {
    font-size: 1.3rem !important;
}

/* TAMAÑOS PARA PANTALLAS GRANDES (TABLET/PC) */
@media (min-width: 768px) {
    html,
    body {
        font-size: 12pt;
    }
    h1 {
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1.3rem !important;
    }
}

/* BLOQUES DE CÓDIGO */
pre,
code {
    font-family: "FiraCode", monospace !important;
}

/* TÍTULOS  */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Gabarito", sans-serif !important;
    letter-spacing: 1px;
}

#TableOfContents a {
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

#TableOfContents a.toc-active {
    font-weight: bold !important;
    transform: scale(1.05);
    transform-origin: left;
    color: #abffb2 !important;
}
