{{ define "main" }}
<main class="container">
    <h1>Página no encontrada</h1>
    <p>
        Desgraciadamente, la página que buscas no existe, pero siempre puedes
        <a href="{{ .Site.Home.RelPermalink }}">volver al inicio</a>.
    </p>
    <a href="{{ .Site.Home.RelPermalink }}">
        <img
            src="/img/cleaning.gif"
            alt="(Aquí debería haber un gif de un pingüino limpiando muy rápido)"
            width="100"
            loading="lazy"
        />
    </a>
</main>
{{ end }}
